.container{
    background-color: #ee9555;
    color:black;
    flex-direction: column;
    display: flex;
    border-radius: 2vw;
    border: 2px solid black;
    margin: 20px;
    width: 330px; 
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; 
    overflow: hidden;
    height: 380px;
    transition: transform 0.80s;
}
.container:hover{
    background: #4e2303;
    color:#D67D3E;
    transform: scale(1.05);
    border-color: #ee9555; 
}
.title{
    font-family: 'Candara'; 
    margin: 10px 15px 
}
img{
    width: 250px;
    height: 250px;
    border-radius: 2vw;
    border: 4px solid black;
    object-fit: cover; 
    margin: 0px 5px 25px;
} 
img:hover{
    border-color: #ee9555; 
}